@model TodoItem
@{
    ViewBag.Title = "Aufgabe bearbeiten";
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Daten</legend>

        @Html.HiddenFor(m => m.Id)
        @Html.EditorFor(m => m.Text)
        @Html.EditorFor(m => m.DueDate)
        @Html.EditorFor(m => m.IsDone)

        <input type="submit" value="Editieren" />
    </fieldset>

    <div>
        @Html.ValidationSummary()
    </div>

}
