@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Meine Aufgaben - @ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <header class="jumbotron">
            <h1>Meine Aufgaben</h1>
            <a href="@Url.Action("Logout","Account")">Abmelden</a>
        </header>
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", "Todo")">Übersicht</a></li>
                <li><a href="@Url.Action("Create", "Todo")">Neu</a></li>
            </ul>
        </nav>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @ViewBag.Title
                    </div>
                    <div class="panel-body">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <aside class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Aufgaben Heute
                    </div>
                    <div class="panel-body">
                        @Html.Action("TodayTasks","Todo")
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Aufgaben Morgen
                    </div>
                    <div class="panel-body">
                        @Html.Action("TomorrowTasks", "Todo")
                    </div>
                </div>
            </aside>
        </div>
        <footer class="well text-center">
            Copyright &copy; 2016 by David Tielke
        </footer>
    </div>
</body>
</html>
